<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A nice place to put some quotes.">
    <meta name="keywords" content="quotes, api, ruby, vuejs">
    <meta name="author" content="tcoppex">
    
    <link rel="icon" href="./favicon.ico">

    <title>
      « EntreQuote »
    </title>

    <!-- Thirdparties styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
          
    <script defer src="js/thirdparties.js"></script>
    <script defer src="js/index.js"></script>
  </head>
  <body>
    <noscript>
      <strong>
        This page need JavaScript enabled to work properly. Please enable it to continue. Here, take some love 💓💓💓
      </strong>
    </noscript>
  </body>
</html>
